{
  "plugins": [
    "prettier-plugin-jinja-template",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindStylesheet": "./src/_includes/css/app.css",
  "printWidth": 250,
  "overrides": [
    {
      "files": ["*.njk"],
      "options": {
        "parser": "jinja-template"
      }
    }
  ]
}