:root {
  --color-primary: #ff5400;
  --color-secondary: #86c7f0;
  --color-light: #f3f3f3;
  --color-dark: #252525;
  --size-200: clamp(0.31rem, calc(0.14rem + 0.85vw), 0.75rem);
  --size-300: clamp(0.69rem, calc(0.52rem + 0.85vw), 1.13rem);
  --size-400: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --size-500: clamp(1.31rem, calc(0.95rem + 1.83vw), 2.25rem);
  --size-600: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --size-700: clamp(2.63rem, calc(1.89rem + 3.66vw), 4.50rem);
  --size-800: clamp(3.94rem, calc(3.13rem + 4.02vw), 6.00rem);
  --size-900: clamp(5.25rem, calc(3.79rem + 7.32vw), 9.00rem);
  --text-200: clamp(0.91rem, calc(0.89rem + 0.10vw), 0.96rem);
  --text-300: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.20rem);
  --text-400: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.50rem);
  --text-500: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --text-600: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --text-700: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --text-800: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --text-900: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --font-sans: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-serif: ui-serif,Georgia,Cambria,"Times New Roman",Times,serif;
  --font-mono: ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
  --leading-3: .75rem;
  --leading-4: 1rem;
  --leading-5: 1.25rem;
  --leading-6: 1.5rem;
  --leading-7: 1.75rem;
  --leading-8: 2rem;
  --leading-9: 2.25rem;
  --leading-10: 2.5rem;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 84 0 / var(--tw-text-opacity))
}