body {
  font-family: var(--font-sans);
  font-size: var(--text-400);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-bold);
  line-height: var(--leading-none);
}

h1 {
  font-size: var(--text-900);
}

h2 {
  font-size: var(--text-800);
}

h3 {
  font-size: var(--text-600);
}

h4 {
  font-size: var(--text-500);
}

h5 {
  font-size: var(--text-400);
}

a {
  color: currentColor;
}