<section class="py-l">
  <div class="wrapper">
    <div class="space-y-3xs">
      <h1 class="text-primary lg:font-bold">{{ block.title }}</h1>
      {{ block.content | markdown | safe }}
      <a href="{{ block.button.link }}" class="button" target="_blank">{{ block.button.text }}</a>
    </div>
  </div>
</section>
