---
permalink: /css/main.css
sitemapIgnore: true
---
{%- set css -%}
  {% include '../_includes/css/utility/reset.css' %}

  {% include '../_includes/css/composition/grid.css' %}
  {% include '../_includes/css/composition/stack.css' %}
  {% include '../_includes/css/composition/flow.css' %}

  {% include '../_includes/css/global/type.css' %}
  {% include '../_includes/css/global/tokens.css' %}
{%- endset -%}
{{ css | cssmin | safe }}