---
layout: layouts/default.njk
title: Home
---

<section class="py-700">
  <div class="wrapper">
    <div class="space-y-200">
      <h1 class="text-primary lg:font-bold">Welcome</h1>
      <p>Welcome to Blyth Eleventy - built by Gittings Studio.</p>
      <a href="https://gittings.studio" class="button" target="_blank">Visit Site</a>
    </div>
  </div>
</section>