{%- set pageTitle = title + ' | ' + site.name %}
{%- set pageDesc = '' %}
{%- set siteTitle = site.name %}
{%- set currentUrl = site.url + page.url %}
{%- if meta.title %}{% set pageTitle = meta.title %}{% endif %}
{%- if meta.desc %}{% set pageDesc = meta.desc %}{% endif %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}">

<meta property="og:site_name" content="{{ siteTitle }}">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ currentUrl }}">
{% if pageDesc %}
  <meta name="description" content="{{ pageDesc }}">
  <meta name="twitter:description" content="{{ pageDesc }}">
  <meta property="og:description" content="{{ pageDesc }}">
{%- endif %}
{% if socialImage %}  
  <meta property="og:image" content="{{ socialImage }}">
  <meta name="twitter:image" content="{{ socialImage }}">
  <meta property="og:image:alt" content="Page image for {{ site.name }}">
  <meta name="twitter:image:alt" content="Page image for {{ site.name }}">
{% endif %}